#contact {
    margin:0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 10dvh;
    width: 100%;
    min-height: 85dvh;
    background-color: light-dark(#1e1e1e, #f8f3f0);
}

#contactLinks {
    margin: 0;
    padding-top: 8em;
}

#contactPara {
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;

}

.contactimages {
    height: 20em;
    width: 20em;
    object-fit: cover;
    border-radius: 20%;
    border: 1px solid #1e1e1e;
    margin-left: 1em;
    margin-right: 1em;
}

@media screen and (max-width: 550px) {
    .contactimages {
        height: 10em;
        width: 10em;
        object-fit: cover;
        border-radius: 20%;
        border: 1px solid #1e1e1e;
        margin-left: 1em;
        margin-right: 1em;
    }
}