#navbar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10dvh;
    background-color: light-dark(#0c0c0c, #c7c7c7);
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#navhome {
    margin: 0;
    padding: 0;
    width:10%;
    height: 90%;
}

#navimg {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    border-radius: 50%;
}

#navbarLinks {
    margin: 0;
    padding: 0;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

div > div > div > a {
    all: unset;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
    color: light-dark(#f8f3f0, #1e1e1e);
}

#themeButton {
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggleTheme {
    margin: 0;
    padding: 0;
    width: 4em;
    height: 4em;
}